@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins' ,sans-serif;
    background: #002339;
    color: #fff;
}

/* utilitiy classes ******** */
.btn{
    display: inline-block;
    border-radius: 3.2rem;
    padding: 1em 2.5em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: 1rem;
    
}

.primary-btn{
    background: forestgreen;
    color: #fff;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#4203a9,#90bafc);
    padding: 10px;

}

.calculator{
    width: 100%;
    max-width: 600px;
    margin: 12% 20%;

}

.calculator h1{
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
}

.calculator h1 span{
    color: wheat;
}

.input-box{
    display: flex;
    align-items: center;
    margin: 40px 0px;
    padding: 35px;
    border-radius: 10px;    
    background: rgba(255,255,255,0.3);
}

.input-box input{
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
}

.input-box input::-webkit-calendar-picker-indicator{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}

.calculator #result{
    font-size: 3rem;
    font-weight: 500;
    color: black;

}

#result span{
    color: darkred;
    font-weight: 700;
}